html{height: auto;}

.gallery{
  background-color: #76a9af; height: 300px; width: 300px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

#button{
  width: 150px; height: 50px;
  background-color: #dc7b12;
  border-bottom: 2px solid #dc551b; border-radius: 5px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center; align-items: center; display: flex;
}

#button:hover{
background-color:#db9c09;
}

h1{
  color:green;
}

#open{
  margin-left: -15px;
  margin-top: 20px;
  cursor: pointer;
}

#close{
  margin-left: 79%;
  margin-top: 20px;
  cursor: pointer;
}

.menu{
  margin:-8px;
}

.menucss{
  display: block;
  width:20%;
  height:100%;
  background-color: #a3e7dc;
  transition: all 1.0s;
  opacity: 1;
}

#mdash{
  color: white;
  margin:-10px;
}

.buttonclass{
  padding-top:13px;
}

ul{
  list-style-type: none;
  color:white;
  font-family: sans-serif;
  font-size: 30px;
  padding: 90px;
}

#home{
  position:absolute;
  top: 200px; left: 12%;
  transform: translate(-50%, -50%);
  padding-right: 3%;
}

#aboutus{
  position: absolute;
  top: 250px; left: 12%;
  transform: translate(-50%, -50%);
  padding-right: 3%;
}

#photos{
  position: absolute;
  top: 300px; left: 12%;
  transform: translate(-50%, -50%);
  padding-right: 3%;
}

#videos{
  position: absolute;
  top: 350px; left: 12%;
  transform: translate(-50%, -50%);
  padding-right: 3%;
}

li:hover{
  width: 19%;
  max-height: 7%;
  background-color: #dc7b12;
  color: #a3e7dc;
  transition: 1.0s;
  margin-left: -0.9%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#video-background {
  /*making the video fullscreen*/
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}


.background{
  background-color: black;
  opacity: 0.5;
}

.socseti{
  display:none;
}

#vk{
  margin-left: -12px;
  margin-top: 10px;
  cursor: pointer;
  border:white solid 1px;
  border-radius:50px;
  width:40px;
  height:40px;
}

#vk:hover{
  background-color:#507299;
  transition: all 0.5s;
}

#facebook{
  margin-left: -12px;
  margin-top: 10px;
  cursor: pointer;
  border:white solid 1px;
  border-radius:50px;
  width:40px;
  height:40px;
}

#facebook:hover{
  background-color: #3c5a9a;
  transition: all 0.5s;
}

#instagram{
  margin-left: -12px;
  margin-top: 10px;
  cursor: pointer;
  border:white solid 1px;
  border-radius:50px;
  width:40px;
  height:40px;
}

#instagram:hover{
  background-color: #885a4d;
  transition: all 0.5s;
}
h1 a:before{
  transform: scale(1.2);
}
